<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_xKdlIF_MEeW4UopF13yAUw" specification="interface Cloud:&#xD;&#xA;in_event command_rec&#xD;&#xA;" name="robot_v1">
    <regions xmi:id="_xNlxoF_MEeW4UopF13yAUw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_xQvzUF_MEeW4UopF13yAUw">
        <outgoingTransitions xmi:id="_xRZTkF_MEeW4UopF13yAUw" target="_xQzdsF_MEeW4UopF13yAUw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_xQzdsF_MEeW4UopF13yAUw" name="Start" incomingTransitions="_xRZTkF_MEeW4UopF13yAUw">
        <outgoingTransitions xmi:id="_QqWWoF_REeW4UopF13yAUw" specification="after 1 s" target="_Jugl4F_REeW4UopF13yAUw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Jugl4F_REeW4UopF13yAUw" name="Communication_test" incomingTransitions="_QqWWoF_REeW4UopF13yAUw">
        <outgoingTransitions xmi:id="_aM5q8F_REeW4UopF13yAUw" specification="comm == true&#xD;&#xA;" target="_WuBJQF_REeW4UopF13yAUw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_WuBJQF_REeW4UopF13yAUw" name="Robot_Logic" incomingTransitions="_aM5q8F_REeW4UopF13yAUw _d0Sy8F_SEeW4UopF13yAUw">
        <outgoingTransitions xmi:id="_ke7UYF_REeW4UopF13yAUw" specification="" target="_glkdMF_REeW4UopF13yAUw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_glkdMF_REeW4UopF13yAUw" name="Help_from_Cloud" incomingTransitions="_ke7UYF_REeW4UopF13yAUw">
        <outgoingTransitions xmi:id="_WhlaUF_SEeW4UopF13yAUw" specification="command_rec" target="_qlb_oF_REeW4UopF13yAUw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_qlb_oF_REeW4UopF13yAUw" name="Command_received" incomingTransitions="_WhlaUF_SEeW4UopF13yAUw">
        <outgoingTransitions xmi:id="_YvWSYF_SEeW4UopF13yAUw" specification="command_acc" target="_sujoQF_REeW4UopF13yAUw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_sujoQF_REeW4UopF13yAUw" name="Command_accomplish" incomingTransitions="_YvWSYF_SEeW4UopF13yAUw">
        <outgoingTransitions xmi:id="_d0Sy8F_SEeW4UopF13yAUw" specification="run_to goal&#xD;&#xA;" target="_WuBJQF_REeW4UopF13yAUw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_xNkjgF_MEeW4UopF13yAUw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_xKdlIF_MEeW4UopF13yAUw" measurementUnit="Pixel">
    <children xmi:id="_xNyl8F_MEeW4UopF13yAUw" type="Region" element="_xNlxoF_MEeW4UopF13yAUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_xQq60F_MEeW4UopF13yAUw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xQq60V_MEeW4UopF13yAUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xQrh4F_MEeW4UopF13yAUw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_xQtXEF_MEeW4UopF13yAUw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_xQwaYF_MEeW4UopF13yAUw" type="Entry" element="_xQvzUF_MEeW4UopF13yAUw">
          <children xmi:id="_xQxogF_MEeW4UopF13yAUw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_xQyPkF_MEeW4UopF13yAUw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_xQyPkV_MEeW4UopF13yAUw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_xQyPkl_MEeW4UopF13yAUw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xQxogV_MEeW4UopF13yAUw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xQxogl_MEeW4UopF13yAUw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xQwaYV_MEeW4UopF13yAUw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xQyPk1_MEeW4UopF13yAUw" x="70" y="20"/>
        </children>
        <children xmi:id="_xRT0AF_MEeW4UopF13yAUw" type="State" element="_xQzdsF_MEeW4UopF13yAUw">
          <children xsi:type="notation:DecorationNode" xmi:id="_xRVCIF_MEeW4UopF13yAUw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xRVCIV_MEeW4UopF13yAUw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xRVCIl_MEeW4UopF13yAUw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xRWQQF_MEeW4UopF13yAUw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xRWQQV_MEeW4UopF13yAUw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xRWQQl_MEeW4UopF13yAUw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xRW3UF_MEeW4UopF13yAUw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xRT0AV_MEeW4UopF13yAUw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xRT0Al_MEeW4UopF13yAUw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xRYFcF_MEeW4UopF13yAUw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xRYFcV_MEeW4UopF13yAUw" x="65" y="47"/>
        </children>
        <children xmi:id="_JukQQF_REeW4UopF13yAUw" type="State" element="_Jugl4F_REeW4UopF13yAUw">
          <children xsi:type="notation:DecorationNode" xmi:id="_JumFcF_REeW4UopF13yAUw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_JumFcV_REeW4UopF13yAUw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_JumFcl_REeW4UopF13yAUw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JumFc1_REeW4UopF13yAUw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_JumFdF_REeW4UopF13yAUw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JumsgF_REeW4UopF13yAUw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JumsgV_REeW4UopF13yAUw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_JukQQV_REeW4UopF13yAUw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_JukQQl_REeW4UopF13yAUw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Jumsgl_REeW4UopF13yAUw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JukQQ1_REeW4UopF13yAUw" x="14" y="147" width="154" height="56"/>
        </children>
        <children xmi:id="_WuCXYF_REeW4UopF13yAUw" type="State" element="_WuBJQF_REeW4UopF13yAUw">
          <children xsi:type="notation:DecorationNode" xmi:id="_WuC-cF_REeW4UopF13yAUw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WuC-cV_REeW4UopF13yAUw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_WuC-cl_REeW4UopF13yAUw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WuDlgF_REeW4UopF13yAUw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_WuEMkF_REeW4UopF13yAUw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WuEMkV_REeW4UopF13yAUw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WuEzoF_REeW4UopF13yAUw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WuCXYV_REeW4UopF13yAUw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WuCXYl_REeW4UopF13yAUw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WuEzoV_REeW4UopF13yAUw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WuCXY1_REeW4UopF13yAUw" x="17" y="282" width="149" height="46"/>
        </children>
        <children xmi:id="_glmSYF_REeW4UopF13yAUw" type="State" element="_glkdMF_REeW4UopF13yAUw">
          <children xsi:type="notation:DecorationNode" xmi:id="_glsZAF_REeW4UopF13yAUw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_glsZAV_REeW4UopF13yAUw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_gltAEF_REeW4UopF13yAUw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_gltAEV_REeW4UopF13yAUw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_glu1QF_REeW4UopF13yAUw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_glu1QV_REeW4UopF13yAUw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_glx4kF_REeW4UopF13yAUw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_glmSYV_REeW4UopF13yAUw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_glmSYl_REeW4UopF13yAUw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gl074F_REeW4UopF13yAUw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_glmSY1_REeW4UopF13yAUw" x="315" y="47"/>
        </children>
        <children xmi:id="_qleb4F_REeW4UopF13yAUw" type="State" element="_qlb_oF_REeW4UopF13yAUw">
          <children xsi:type="notation:DecorationNode" xmi:id="_qlfC8F_REeW4UopF13yAUw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qlfC8V_REeW4UopF13yAUw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qlfC8l_REeW4UopF13yAUw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qlfC81_REeW4UopF13yAUw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qlfqAF_REeW4UopF13yAUw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qlfqAV_REeW4UopF13yAUw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qlfqAl_REeW4UopF13yAUw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qleb4V_REeW4UopF13yAUw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qleb4l_REeW4UopF13yAUw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qlfqA1_REeW4UopF13yAUw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qleb41_REeW4UopF13yAUw" x="300" y="177" width="150" height="51"/>
        </children>
        <children xmi:id="_suldcF_REeW4UopF13yAUw" type="State" element="_sujoQF_REeW4UopF13yAUw">
          <children xsi:type="notation:DecorationNode" xmi:id="_sumEgF_REeW4UopF13yAUw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_sumEgV_REeW4UopF13yAUw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_sumEgl_REeW4UopF13yAUw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_sumEg1_REeW4UopF13yAUw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_sumEhF_REeW4UopF13yAUw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sumEhV_REeW4UopF13yAUw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_sun5sF_REeW4UopF13yAUw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_suldcV_REeW4UopF13yAUw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_suldcl_REeW4UopF13yAUw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_sun5sV_REeW4UopF13yAUw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_suldc1_REeW4UopF13yAUw" x="292" y="282" width="166" height="51"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xQtXEV_MEeW4UopF13yAUw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_xNyl8V_MEeW4UopF13yAUw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xQulMF_MEeW4UopF13yAUw" x="230" y="10" width="576" height="466"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_xSF3IF_MEeW4UopF13yAUw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_xSHFQF_MEeW4UopF13yAUw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xSHFQV_MEeW4UopF13yAUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xSHFQl_MEeW4UopF13yAUw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_xSHFQ1_MEeW4UopF13yAUw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xSHFRF_MEeW4UopF13yAUw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xSJhgF_MEeW4UopF13yAUw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_xNkjgV_MEeW4UopF13yAUw"/>
    <edges xmi:id="_xSCMwF_MEeW4UopF13yAUw" type="Transition" element="_xRZTkF_MEeW4UopF13yAUw" source="_xQwaYF_MEeW4UopF13yAUw" target="_xRT0AF_MEeW4UopF13yAUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_xSFQEF_MEeW4UopF13yAUw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xSFQEV_MEeW4UopF13yAUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xSFQEl_MEeW4UopF13yAUw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xSCMwV_MEeW4UopF13yAUw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xSCz0F_MEeW4UopF13yAUw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xSCMwl_MEeW4UopF13yAUw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_QqXkwF_REeW4UopF13yAUw" type="Transition" element="_QqWWoF_REeW4UopF13yAUw" source="_xRT0AF_MEeW4UopF13yAUw" target="_JukQQF_REeW4UopF13yAUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_QqYL01_REeW4UopF13yAUw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QqYL1F_REeW4UopF13yAUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QqYy4F_REeW4UopF13yAUw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QqYL0F_REeW4UopF13yAUw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QqYL0l_REeW4UopF13yAUw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QqYL0V_REeW4UopF13yAUw" points="[2, 24, -23, -104]$[-49, 124, -74, -4]"/>
    </edges>
    <edges xmi:id="_aM65EF_REeW4UopF13yAUw" type="Transition" element="_aM5q8F_REeW4UopF13yAUw" source="_JukQQF_REeW4UopF13yAUw" target="_WuCXYF_REeW4UopF13yAUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_aM7gIF_REeW4UopF13yAUw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aM7gIV_REeW4UopF13yAUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aM7gIl_REeW4UopF13yAUw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aM65EV_REeW4UopF13yAUw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aM65E1_REeW4UopF13yAUw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aM65El_REeW4UopF13yAUw" points="[-5, 26, -3, -73]$[-5, 75, -3, -24]"/>
    </edges>
    <edges xmi:id="_ke-XsF_REeW4UopF13yAUw" type="Transition" element="_ke7UYF_REeW4UopF13yAUw" source="_WuCXYF_REeW4UopF13yAUw" target="_glmSYF_REeW4UopF13yAUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ke-XtF_REeW4UopF13yAUw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ke-XtV_REeW4UopF13yAUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ke-Xtl_REeW4UopF13yAUw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ke-XsV_REeW4UopF13yAUw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ke-Xs1_REeW4UopF13yAUw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ke-Xsl_REeW4UopF13yAUw" points="[37, -36, -237, 215]$[267, -275, -7, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kfAz8F_REeW4UopF13yAUw" id="(0.46308724832214765,0.7547169811320755)"/>
    </edges>
    <edges xmi:id="_Whn2kF_SEeW4UopF13yAUw" type="Transition" element="_WhlaUF_SEeW4UopF13yAUw" source="_glmSYF_REeW4UopF13yAUw" target="_qleb4F_REeW4UopF13yAUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Whn2lF_SEeW4UopF13yAUw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Whn2lV_SEeW4UopF13yAUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Whn2ll_SEeW4UopF13yAUw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Whn2kV_SEeW4UopF13yAUw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Whn2k1_SEeW4UopF13yAUw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Whn2kl_SEeW4UopF13yAUw" points="[-3, 24, -2, -110]$[-67, 133, -66, -1]"/>
    </edges>
    <edges xmi:id="_YvYHkF_SEeW4UopF13yAUw" type="Transition" element="_YvWSYF_SEeW4UopF13yAUw" source="_qleb4F_REeW4UopF13yAUw" target="_suldcF_REeW4UopF13yAUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_YvYHlF_SEeW4UopF13yAUw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YvYHlV_SEeW4UopF13yAUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YvYuoF_SEeW4UopF13yAUw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YvYHkV_SEeW4UopF13yAUw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YvYHk1_SEeW4UopF13yAUw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YvYHkl_SEeW4UopF13yAUw" points="[-9, 24, -8, -81]$[-9, 129, -8, 24]"/>
    </edges>
    <edges xmi:id="_d0UBEF_SEeW4UopF13yAUw" type="Transition" element="_d0Sy8F_SEeW4UopF13yAUw" source="_suldcF_REeW4UopF13yAUw" target="_WuCXYF_REeW4UopF13yAUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_d0UBFF_SEeW4UopF13yAUw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_d0UBFV_SEeW4UopF13yAUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_d0UBFl_SEeW4UopF13yAUw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_d0UBEV_SEeW4UopF13yAUw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_d0UBE1_SEeW4UopF13yAUw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_d0UBEl_SEeW4UopF13yAUw" points="[-80, 3, 203, 3]$[-274, 24, 9, 24]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
